#product-page {
  padding: 25px;
}

.product-image {
  width: 100%;
  height: 100%;
}

.product-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 10px;
}

.product-description {
  height:60px;
  line-height:20px;
  overflow:hidden;
}
